@charset "UTF-8";
body {
  font-family: 'Roboto';
  background: #016BE5;
}

/* Начало Обнуления */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Конец Обнуления */
.header__page {
  position: relative;
}

.header__poligontop {
  position: absolute;
  width: 330px;
  height: 330px;
  background-color: #023E83;
  z-index: -1;
  left: -40px;
  top: -40px;
}

._container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 40px;
}

@media (max-width: 1640px) {
  ._container {
    /*--------@media (max-width: 1640px)--------*/
    max-width: 1640px;
  }
}

@media (max-width: 1280px) {
  ._container {
    /*--------@media (max-width: 1280px)--------*/
    padding: 0 20px;
  }
}

@media (max-width: 600px) {
  ._container {
    /*--------@media (max-width: 600px)--------*/
    margin: 0 -10px;
  }
}

._ibg {
  /*width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	//opacity: 0;
	visibility: hidden;*/
}

.header__container {
  position: relative;
}

.header__body {
  padding: 40px 0px 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .header__body {
    /*--------@media (max-width: 1024px)--------*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 0;
    margin: 20px 5px 0;
  }
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53%;
          flex: 0 1 53%;
}

@media (max-width: 1640px) {
  .header__logo {
    /*--------@media (max-width: 1640px)--------*/
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    /*--------@media (max-width: 1024px)--------*/
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  .header__logo {
    /*--------@media (max-width: 1024px)--------*/
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .header__menu {
    /*--------@media (max-width: 1024px)--------*/
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 700px) {
  .menu_list {
    /*--------@media (max-width: 1024px)--------*/
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .menu_list {
    /*--------@media (max-width: 1024px)--------*/
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    margin: 0px auto;
  }
}

.menu_list > *:not(:last-child) {
  padding: 0 86px 0 0;
}

@media (max-width: 1640px) {
  .menu_list > *:not(:last-child) {
    /*--------@media (max-width: 1640px)--------*/
    padding: 0 60px 0 0;
  }
}

@media (max-width: 1280px) {
  .menu_list > *:not(:last-child) {
    /*--------@media (max-width: 1280px)--------*/
    padding: 0 40px 0 0;
  }
}

@media (max-width: 1024px) {
  .menu_list > *:not(:last-child) {
    /*--------@media (max-width: 1024px)--------*/
    padding: 0 20px 0 0;
  }
}

@media (max-width: 600px) {
  .menu_list > *:not(:last-child) {
    /*--------@media (max-width: 1024px)--------*/
    padding: 0 0 20px 0;
  }
}

.menu__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 118.57%;
}

.menu__link{
	color: #023E83;
}

.menu__link:hover {
  padding: 0 0 58px 0;
  background: url("../img/header/menu/icons/Icon_Polygon.jpg") center no-repeat;
}

@media (max-width: 1024px) {
  .menu__link:hover {
    /*--------@media (max-width: 1024px)--------*/
    padding: 0 0 66px 0;
  }
}

@media (max-width: 600px) {
  .menu__link:hover {
    /*--------@media (max-width: 1024px)--------*/
    text-decoration: underline;
    background: none;
  }
}

.header__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.decor__header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 40px 0 0;
  position: relative;
}

@media (max-width: 1280px) {
  .decor__header {
    /*--------@media (max-width: 1280px)--------*/
    padding: 0 10px 0 0;
  }
}

.decor__header-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  max-height: 1px;
  border: 1px solid #023E83;
  opacity: 0.3;
}

@media (max-width: 1640px) {
  .decor__header-line {
    /*--------@media (max-width: 1640px)--------*/
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 1024px) {
  .decor__header-line {
    /*--------@media (max-width: 1024px)--------*/
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 700px) {
  .decor__header-line {
    /*--------@media (max-width: 1024px)--------*/
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 600px) {
  .decor__header-line {
    /*--------@media (max-width: 1024px)--------*/
    border: 0px solid #023E83;
  }
}

.decor__header-romb {
  width: 34px;
  height: 34px;
  background: #023E83;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -16px 0 0 0;
}

@media (max-width: 600px) {
  .decor__header-romb {
    /*--------@media (max-width: 1024px)--------*/
    background: none;
  }
}

.decor__header-text {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 110px;
  right: -30px;
  font-weight: 100;
  font-size: 24px;
  /* or 28px */
}

@media (max-width: 1280px) {
  .decor__header-text {
    /*--------@media (max-width: 1280px)--------*/
    right: -60px;
  }
}

@media (max-width: 600px) {
  .decor__header-text {
    /*--------@media (max-width: 1024px)--------*/
    display: none;
  }
}

.main__body {
  padding: 207px 0 0 0;
}

@media (max-width: 1820px) {
  .main__body {
    /*--------@media (max-width: 1820px)--------*/
    padding: 190px 0 0 0;
  }
}

@media (max-width: 1700px) {
  .main__body {
    /*--------@media (max-width: 1700px)--------*/
    padding: 180px 0 0 0;
  }
}

@media (max-width: 1640px) {
  .main__body {
    /*--------@media (max-width: 1640px)--------*/
    padding: 160px 0 0 0;
  }
}

@media (max-width: 1440px) {
  .main__body {
    /*--------@media (max-width: 1640px)--------*/
    padding: 150px 0 0 0;
  }
}

@media (max-width: 1024px) {
  .main__body {
    /*--------@media (max-width: 1024px)--------*/
    padding: 100px 0 0 0;
  }
}

@media (max-width: 700px) {
  .main__body {
    /*--------@media (max-width: 1024px)--------*/
    padding: 80px 0 0 0;
  }
}

@media (max-width: 600px) {
  .main__body {
    /*--------@media (max-width: 1024px)--------*/
    padding: 60px 0 0 0;
  }
}

.main__content-flex {
  position: relative;
}

.main__content {
  -ms-flex-preferred-size: 979px;
      flex-basis: 979px;
}

.content__decor {
  padding: 0 0 60px 0;
}

@media (max-width: 767px) {
  .content__decor {
    /*--------@media (max-width: 767px)--------*/
    padding: 20px;
  }
}

.decor__header-line {
  margin: 0 -40px 0 0;
}

@media (max-width: 910px) {
  .decor__header-line {
    /*--------@media (max-width: 910px)--------*/
    display: none;
  }
}

.decor__header-poligon {
  position: relative;
  top: -11px;
  width: 24px;
  height: 20px;
  background: url("../img/main/icons/icon_left_Polygon.svg") left no-repeat;
}

@media (max-width: 910px) {
  .decor__header-poligon {
    /*--------@media (max-width: 910px)--------*/
    display: none;
  }
}

.content__main {
  position: relative;
}

.content__main > :not(:last-child) {
  margin: 0 0 20px 0;
}

@media (max-width: 500px) {
  .content__main > :not(:last-child) {
    /*--------@media (max-width: 1820px)--------*/
    margin: 0 0 10px 0;
  }
}

.content__poligonlongleft {
  position: absolute;
  top: -30px;
  width: 40px;
  height: 320px;
  background-color: #023E83;
}

@media (max-width: 1820px) {
  .content__poligonlongleft {
    /*--------@media (max-width: 1820px)--------*/
    top: -40px;
  }
}

@media (max-width: 901px) {
  .content__poligonlongleft {
    /*--------@media (max-width: 901px)--------*/
    top: -20px;
  }
}

@media (max-width: 841px) {
  .content__poligonlongleft {
    /*--------@media (max-width: 841px)--------*/
    top: -6px;
  }
}

@media (max-width: 768px) {
  .content__poligonlongleft {
    /*--------@media (max-width: 768px)--------*/
    display: none;
  }
}

.content__title {
  font-weight: 100;
  font-size: 64px;
  line-height: 118.57%;
  /* or 76px */
  padding: 0 0 0 60px;
}

@media (max-width: 1820px) {
  .content__title {
    /*--------@media (max-width: 1820px)--------*/
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .content__title {
    /*--------@media (max-width: 768px)--------*/
    font-size: 40px;
    padding: 0 0 0 10px;
  }
}

@media (max-width: 560px) {
  .content__title {
    /*--------@media (max-width: 560px)--------*/
    font-size: 34px;
    line-height: 115%;
    font-weight: 300;
  }
}

.content__subtitle {
  font-weight: 100;
  font-size: 36px;
  line-height: 136.07%;
  /* or 49px */
  padding: 0 0 0 60px;
}

@media (max-width: 768px) {
  .content__subtitle {
    /*--------@media (max-width: 768px)--------*/
    font-size: 40px;
    padding: 0 0 0 10px;
  }
}

@media (max-width: 500px) {
  .content__subtitle {
    /*--------@media (max-width: 1820px)--------*/
    font-size: 28px;
    line-height: 110%;
    font-weight: 200;
  }
}

.content__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  line-height: 170%;
  /* or 48px */
  padding: 0 0 0 60px;
}

@media (max-width: 1820px) {
  .content__text {
    /*--------@media (max-width: 1820px)--------*/
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .content__text {
    /*--------@media (max-width: 768px)--------*/
    padding: 0 0 0 10px;
    font-weight: 300;
  }
}

@media (max-width: 500px) {
  .content__text {
    /*--------@media (max-width: 1820px)--------*/
    font-size: 22px;
    line-height: 130%;
  }
}

.content__name {
  margin: 356px 0 0 0;
  font-weight: 100;
  font-size: 103px;
  line-height: 118.36%;
  /* identical to box height, or 122px */
  letter-spacing: 0.065em;
}

@media (max-width: 1820px) {
  .content__name {
    /*--------@media (max-width: 1820px)--------*/
    font-size: 90px;
  }
}

@media (max-width: 1700px) {
  .content__name {
    /*--------@media (max-width: 1700px)--------*/
    font-size: 80px;
  }
}

@media (max-width: 1640px) {
  .content__name {
    /*--------@media (max-width: 1640px)--------*/
    font-size: 70px;
  }
}

@media (max-width: 1024px) {
  .content__name {
    /*--------@media (max-width: 1024px)--------*/
    font-size: 50px;
  }
}

@media (max-width: 910px) {
  .content__name {
    /*--------@media (max-width: 910px)--------*/
    margin: 400px 0 0 0;
  }
}

@media (max-width: 767px) {
  .content__name {
    /*--------@media (max-width: 767px)--------*/
    margin: 420px 0 0 0;
    font-size: 40px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .content__name {
    /*--------@media (max-width: 767px)--------*/
    margin: 420px 0 0 0;
  }
}

@media (max-width: 530px) {
  .content__name {
    /*--------@media (max-width: 530px)--------*/
    margin: 240px 0 0 0;
  }
}

.img__main {
  position: relative;
}

.img__moto-absol {
  position: relative;
}

.img__moto-absol .img__moto-absolute {
  position: absolute;
  right: 0;
  bottom: -498px;
  margin: 0 -40px 0 0;
  width: 60%;
  /*@media (max-width: 767px){
				margin: 0 -20px 0 0;
				bottom: -440px;
				width: 500px;
				//font-size: 420px;
			}*/
}

@media (max-width: 1820px) {
  .img__moto-absol .img__moto-absolute {
    margin: 0 -40px 0 0;
    bottom: -482px;
  }
}

@media (max-width: 1700px) {
  .img__moto-absol .img__moto-absolute {
    margin: 0 -40px 0 0;
    bottom: -469px;
  }
}

@media (max-width: 1640px) {
  .img__moto-absol .img__moto-absolute {
    margin: 0 -40px 0 0;
    bottom: -456px;
  }
}

@media (max-width: 1280px) {
  .img__moto-absol .img__moto-absolute {
    margin: 0 -20px 0 0;
    bottom: -453px;
  }
}

@media (max-width: 1024px) {
  .img__moto-absol .img__moto-absolute {
    margin: 0 -20px 0 0;
    bottom: -426px;
    width: 540px;
  }
}

@media (max-width: 530px) {
  .img__moto-absol .img__moto-absolute {
    /*--------@media (max-width: 530px)--------*/
    padding: 0 -20px 0 0;
    bottom: -260px;
    width: 320px;
  }
}

.img__namelogo {
  position: absolute;
  margin: 76px -40px 0 0;
  right: 0;
  font-weight: 900;
  font-size: 445px;
  /* or 528px */
  color: #023E83;
  opacity: 0.1;
  z-index: 1;
}

@media (max-width: 1820px) {
  .img__namelogo {
    /*--------@media (max-width: 1820px)--------*/
    margin: 64px -30px 0 0;
  }
}

@media (max-width: 1700px) {
  .img__namelogo {
    /*--------@media (max-width: 1700px)--------*/
    margin: 54px -30px 0 0;
  }
}

@media (max-width: 1640px) {
  .img__namelogo {
    /*--------@media (max-width: 1640px)--------*/
    margin: 44px -30px 0 0;
  }
}

@media (max-width: 1440px) {
  .img__namelogo {
    /*--------@media (max-width: 1640px)--------*/
    font-size: 400px;
  }
}

@media (max-width: 1024px) {
  .img__namelogo {
    /*--------@media (max-width: 1024px)--------*/
    font-size: 360px;
  }
}

@media (max-width: 910px) {
  .img__namelogo {
    /*--------@media (max-width: 910px)--------*/
    font-size: 300px;
  }
}

@media (max-width: 767px) {
  .img__namelogo {
    /*--------@media (max-width: 767px)--------*/
    font-size: 240px;
    margin: 0;
  }
}

@media (max-width: 650px) {
  .img__namelogo {
    /*--------@media (max-width: 650px)--------*/
    font-size: 200px;
  }
}

@media (max-width: 530px) {
  .img__namelogo {
    /*--------@media (max-width: 530px)--------*/
    font-size: 120px;
  }
}

.footer__items {
  position: relative;
}

.footer__items::after {
  content: '';
  position: absolute;
  width: 320px;
  height: 40px;
  background: #023E83;
  right: 0;
  top: -10px;
}

@media (max-width: 900px) {
  .footer__items::after {
    /*--------@media (max-width: 1024px)--------*/
    display: none;
  }
}

@media (max-width: 900px) {
  .footer__items {
    /*--------@media (max-width: 900px)--------*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 100;
  font-size: 24px;
  line-height: 118.57%;
  /* or 28px */
}

@media (max-width: 560px) {
  .item__footer {
    /*--------@media (max-width: 500px)--------*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 560px) {
  .item__footer > *:not(:last-child) {
    /*--------@media (max-width: 500px)--------*/
    padding: 0 0 20px 0;
  }
}

.color__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 40px 0;
}

.color__item > *:not(:last-child) {
  margin: 0 0 0 58px;
}

.color__black {
  position: relative;
}

.color__black::before {
  content: '';
  position: absolute;
  background: #000000;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 62px;
  bottom: -3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.color__black:hover::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.color__blue {
  position: relative;
}

.color__blue::before {
  content: '';
  position: absolute;
  background: #023E83;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 51px;
  bottom: -3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.color__blue:hover::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.color__red {
  position: relative;
}

.color__red::before {
  content: '';
  position: absolute;
  background: red;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 47px;
  bottom: -3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.color__red:hover::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
